{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en" class="full-height" data-livestyle-extension="available">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ page.title }}</title>

    <!-- Meta -->
    <meta property="title" content="">
    <meta property="description" content="">
    <meta property="url" content="">
    <meta property="site_name" content="">
    <!-- Meta -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:creator" content="">
    <!-- Twitter Card -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'catalog/css/font-awesome.min.css' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'catalog/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static 'catalog/css/mdb.css' %}" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="{% static 'catalog/css/style.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="{% static 'catalog/img/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'catalog/img/favicon.ico' %}" type="image/x-icon" />
</head>

<body class="cyan-skin intro-page cafe-lp">

    <!--Navigation & Intro-->
    <header>

        <!--Navbar-->

        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img class='logo-image' src="{% static 'catalog/img/logo_admin.png' %}">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <!--Links-->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light h6" href="/">Головна<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light h6" href="#">Про нас<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light h6" href="/catalog/">Каталог<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light h6" href="#">Контакти<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>

                    <!--Social Icons-->


                </div>
            </div>
        </nav>

    </header>
    <main>
        <!-- First container -->
        <div class="container">
            <div class="space-between-md">
            </div>
            <div class="row">
                <div class="col-md-3">
                <div class="toc-wrapper pinned" style="top: 0px;">
                    <div style="height: 15px;"></div>
							<ul class="table-of-contents textarea">
							{% for child_page in page.get_children %}
                            <li><a href="#{{ child_page.specific.pk }}">{{child_page.specific.title}}</a></li>
							{% endfor %}
                        </ul>
                </div>
            </div>
                <!-- Content -->
                <div class="col-md-9">
                    <!-- Products List -->
                    <section class="section">
                        <!-- Single Product -->
						{% for child_page in page.get_children %}
                        <div class="row">
                            <!-- First column-->
                            <div class="col-lg-5 mb-r">
                                <!--Featured image-->
                                <div id='{{ child_page.specific.pk }}' class="view overlay hm-white-slight z-depth-1 scrollspy">
									{% image child_page.specific.main_image width-800 height-800 as category_image %}
                                    <img src="{{ category_image.url }}" class="img-fluid">
                                    <a href="{{ child_page.specific.url }}" data-toggle="modal" data-target="#quick-look-ex">
                                        <div class="mask waves-light waves-effect waves-light">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- /.First column -->

                            <!-- Second column -->
                            <div class="col-lg-7 mb-r">

                                <!-- Excerpt -->
                                <h4><a href="{{ child_page.specific.url }}">{{ child_page.specific.title }} </a></h4>

                                <!-- Product Description -->
                                <p>{{ child_page.specific.description|richtext }}</p>

                                <!-- Buttons -->
                                <a href="{{ child_page.specific.url }}" class="btn btn-secondary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wishlist">Дізнатися більше про {{ child_page.specific.title }}</a>

                                <!-- /.Buttons -->

                            </div>
                            <!-- /.Second column -->

                        </div>
						{% endfor %}

                    </section>
                    <!-- /.Products List -->

                </div>
                <!-- /.Content -->

                <!-- Sidebar -->
            </div>
            <!-- /.Content -->
        <div class="space-between"></div>
        </div>
        <!-- End of first container-->
        <!-- Education streak-->


    </main>
    <footer class="page-footer center-on-small-only  optima-color hm-black-strong">

        <!--Footer Links-->


        <div class="container">

            <!--Second row-->
            <div class="row mt-2 mb-1 text-center wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                <!--First column-->
                <div class="col-md-4">

                    <!--Title-->
                    <h5 class="title">Ми працюємо</h5>

                    <!--Opening hours table-->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Понеділок - П'ятниця:</td>
                                <td>8:00 - 17:00</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <!--/First column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Second column-->
                <div class="col-md-4">

                    <!--Title-->
                    <h5 class="title">Наша адреса</h5>

                    <!--Address-->
                    <p>вул. Ежена Потьє 12<br> Київ, 03611 <br>


                </div>
                <!--/Second column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Third column-->
                <div class="col-md-4">

                    <!--Title-->
                    <h5 class="title">Наші контаки</h5>
                    <p>Тел. (044) 364-70-71
                    </p>
                    <!--Social buttons-->

                    <!--/Social buttons-->

                </div>
                <!--/Third column-->

            </div>
            <!--/Second row-->

        </div>
    </footer>
    <!--/Main content-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'catalog/js/jquery-3.2.1.min.js' %}"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'catalog/js/tether.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'catalog/js/bootstrap.min.js' %}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'catalog/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'catalog/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'catalog/js/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'catalog/js/materialize.min.js' %}"></script>
    <script>
        //Animation init
        new WOW().init();

        // Material Select Initialization
        $(function() {
            $('.same-height').matchHeight();
        });
        $(function() {
            $('.same-height-text').matchHeight();
        });
        $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        });
    </script>





</body>

</html>
{% endblock %}